<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.nologin.meep.ca"
          android:versionCode="2"
          android:versionName="1.2">


    <!-- version 1 - initial stuff, bit of a mess really -->
    <!-- version 2 - strip out TileBitmapView in the hope to create a separate project, also introduce
                     actionbarsherlock      -->

    <!--
         I want this to work on at least a minimum of 2.3.3 Gingerbread,
         so I'll aim to keep the midSDK at 10.  Unfortunately that means
         no core ActionBar, so this project requires ActionBarSherlock
          (incl android v4 compat library) as a dependency project.
          http://actionbarsherlock.com/
    -->
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/launcher"
            android:theme="@style/WolframCATheme">
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
    </application>
</manifest> 

