<?xml version="1.0" encoding="utf-8"?>
<!--
    WolframCA - an android application to view 1-dimensional cellular automata (CA)
    Copyright 2013 Barry O'Neill (http://barryoneill.net/)

    Licensed under Apache 2.0 with limited permission from, and no affiliation with Steven
    Wolfram, LLC. See the LICENSE file in the root of this project for the full license terms.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.nologin.meep.ca"
          android:versionCode="5"
          android:versionName="1.5">

    <!-- version code 1 - initial stuff, bit of a mess really -->
    <!-- version code 2 - TileBitmapView moved out into separate project, introduce actionbarsherlock dep -->
    <!-- version code 3 - Wow, a functioning app!  Publishing to market, 6 Jun 2013 -->
    <!-- Version code 4 - Major cleanup based on TiledBitmapView v1.2 library, + doc + license -->
    <!-- Version code 5 - Modified license to include disclaimer requested by Wolfram Research LLC lawyer-->

    <!--
         Supports android API level 10 (2.3.3 Gingerbread).

         Dependencies for this project:
         1) ActionBarSherlock, since ActionBar only exists since API11 (http://actionbarsherlock.com)
         2) Android v4 compatibility library
         3) TiledBitmapView library v1.2 (https://github.com/barryoneill/TiledBitmapView)
    -->
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/launcher"
            android:theme="@style/WolframCATheme"
            android:allowBackup="true">
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
    </application>
</manifest> 

